@import url("../../../shared/basestyles.css");

fm-app {
	flex: 1;
}

fm-content {
	--sidebar-shadow-size: var(--spacing-3x);

	flex: 1;
	flex-direction: column;

	padding-inline: 10%;
	position: relative;

	&::before,
	&::after {
		content: "";

		position: absolute;
		inset: 0;
		z-index: -1;
	}

	&::before {
		background: url("file:///home/chino/doc/dls/9acdff49740fe471eb0beb37350c9864.png");
		background-position: center;
		box-shadow:
			inset var(--sidebar-shadow-size) 0 50vw var(--bg),
			inset var(--sidebar-shadow-size) 0 #000,
			inset 100vw 0 color-mix(in srgb, #000 25%, transparent);
	}

	&::after {
		backdrop-filter: blur(24px);
	}
}
