body {
	margin: 0;

	display: flex;
	height: 100vh;
}

fm-sidebar {
	display: flex;
	flex-direction: column;
}

fm-sidebar-item {
	gap: 8px;
	padding: 4px 8px;

	display: flex;
}

fm-content {
	flex: 1;
}
