:root {
	--bg: Canvas;
	--fg: CanvasText;

	--color-hover: color-mix(in srgb, currentColor 10%, transparent);
	--color-selected: color-mix(in srgb, currentColor 25%, transparent);
}

:root {
	/* Can't go above 16px. Weird, isn't -symbolic svg ? */
	--icon-size: 16px;

	--spacing-05x: 4px;
	--spacing-1x: 8px;
	--spacing-2x: 16px;
	--spacing-3x: 24px;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: system-ui;
	margin: 0;

	display: flex;
	height: 100vh;

	:where(:not([hidden])) {
		display: flex;
	}
}

fm-app {
	flex: 1;
}

fm-content {
	--sidebar-shadow-size: var(--spacing-3x);

	flex: 1;
	flex-direction: column;

	/* TODO: temp */
	padding: 10%;
	position: relative;

	&::before,
	&::after {
		content: "";

		position: absolute;
		inset: 0;
		z-index: -1;
	}

	&::before {
		background: url("file:///home/chino/doc/dls/9acdff49740fe471eb0beb37350c9864.png");
		abackground: url("file:///home/chino/doc/pic/photo-1560928703-7e8f6bd6b715.jpeg");
		background-position: center;
		box-shadow:
			inset var(--sidebar-shadow-size) 0 50vw var(--bg),
			inset var(--sidebar-shadow-size) 0,
			inset 100vw 0 color-mix(in srgb, var(--fg) 25%, transparent);
	}

	&::after {
		backdrop-filter: blur(24px);
	}
}
